html {
    box-sizing: border-box;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'latoregular';
    background-color: #3D4050;
}

header {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 1170px) 1fr;
    grid-template-rows: 100px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba(16, 16, 29, 0.9);
    line-height: 33px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.open-menu {
    display: none;
    border: none;
    margin-right: 32px;
    cursor: pointer;
    padding: 0;
    background: none;
}

.open-menu::before {
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    border-top: 3px solid #42A9ED;
}

.open-menu::after {
    content: "";
    display: block;
    width: 40px;
    height: 9px;
    border-top: 3px solid #42A9ED;
    border-bottom: 3px solid #42A9ED;
}

.nav-mobile {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 100px;
    background-color: rgba(16, 16, 29, 0.9);
}

.nav-mobile_opened {
    display: flex;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
}

.nav__link:hover {
    color: #43ABF0;
}

.nav__link:hover,
.intro__button:hover,
.footer-content__link:hover {
    transform: scale(1.1);
}

.intro {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 1190px) 1fr;
    min-height: 850px;
    background: url(../images/BG1.jpg) center no-repeat;
    background-size: cover;
}

.intro__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 80px;
    margin: auto 10px;
}

.intro__text-box h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.intro__list {
    margin: 0;
    padding: 10px;
}

.intro__buttons {
    display: flex;
    gap: 30px;
}

.intro__button {
    width: 183px;
    height: 43px;
    border: 1px solid #6F6D7B;
    border-radius: 4px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}

.intro__button_color_blue {
    background-color: #3E9CDC;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.intro__list li {
    list-style-type: "- ";
}

.content {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 1190px) 1fr;
    background: url(../images/BG2.jpg) center no-repeat;
    background-size: cover;
    min-height: 920px;
}

.content__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: auto 10px;
}

.circles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.circles__circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3E9CDC;
    border: 5px solid #286690;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles__text {
    position: absolute;
    width: 188px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.circles__mini-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 48px;
    grid-gap: 30px;
}

.dropdown {
    position: relative;
    order: -2;
}

.dropdown__button {
    outline: none;
    width: 100%;
    height: 100%;
    background: url('../images/arrow.png') top 21.4px right 16px no-repeat rgba(255, 255, 255, 0.85);
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    color: #272733;
    padding-left: 10px;
    text-align: left;
}

.dropdown__button_open {
    background: url('../images/arrow2.png') top 21.4px right 16px no-repeat rgba(61, 64, 80, 0.85);
    border-radius: 3px 3px 0px 0px;
    border: none;
    color: #ffffff;
}

.dropdown__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 179.5px;
    padding-left: 10px;
    overflow-y: scroll;
    background: rgba(39, 39, 51, 0.9);
    border: 1px solid #3D4050;
    border-radius: 0 0 3px 3px;
    line-height: 34px;
    display: none;
}

.dropdown__list::-webkit-scrollbar {
    width: 7px;
    background: #3D4050;
    border-radius: 3px;
}
  
.dropdown__list::-webkit-scrollbar-thumb {
    width: 7px;
    background: #3E9CDC;
    border-radius: 3px;
}

.dropdown__list_open {
    display: block;
}

.dropdown__list-item:hover {
    color: #42A9ED;
    cursor: pointer;
}

.dropdown__input {
    display: none;
}

.form__email ,
.form__name {
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    padding: 10px;
    color: #272733;
}

.form__button {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #3E9CDC;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}

.range-box {
    grid-column-start: 1;
    grid-column-end: 3;
}

.range-text {
    display: flex;
    justify-content: space-between;
}

.range {
    width: 100%;
}

.file-box {
    width: 100%;
    height: 100%;
}

.file-box__input {
    width: 0,1px;
    height: 0,1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-box__label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    color: #272733;
    border: 2px solid #3E9CDC;
    border-radius: 3px;
    cursor: pointer;
}

input[type=range]  {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 6px;
    border: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.7);;
}
input[type=range]::-webkit-slider-thumb {
    background: #42A9ED;
    border: 3px solid #286690;
    border-radius: 50%;
    cursor: pointer;
    width: 23.72px;
    height: 23.72px;
    -webkit-appearance: none;
    margin-top: -11px;
}

input[type=range]::-moz-range-track {
      height: 6px;
      border: 1px solid #ffffff;
      background-color: #fff;
}
input[type=range]::-moz-range-thumb {
    background: #42A9ED;
    border: 3px solid #286690;
    border-radius: 50%;
    cursor: pointer;
    width: 23.72px;
    height: 23.72px;
}

.dropdown__button:focus,
.form__email:focus,
.form__name:focus,
.range:focus,
.file-box__label:focus,
.form__button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

footer {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 1190px) 1fr;
    grid-template-rows: minmax(100px, auto);
    background-color: #3D4050;
    flex: 0 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 10px;
}

.footer-content__icon {
    float: left;
    margin-right: 10px;
}

.footer-content__money-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 36px;
}

.footer-content__money {
    color: #C3C3C3;
}

.footer-content__link-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 36px;
}

.footer-content__link {
    color: #FFFFFF;
    text-decoration: none;
    margin: 13px 0;
}

.color_white {
    color: #FFFFFF;
}

.color_blue {
    color: #42A9ED;
}

.color_gray {
    color: #C3C3C3;
}

.upper {
    text-transform: uppercase;
}

.align-cencer {
    text-align: center;
}

.size-13 {
    font-size: 13px;
}

.size-15 {
    font-size: 15px;
}

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.size-20 {
    font-size: 20px;
}

.size-28 {
    font-size: 28px;
}

.size-36 {
    font-size: 36px;
}

.weight-6 {
    font-weight: 600;
}

.weight-7 {
    font-weight: 700;
}

.weight-8 {
    font-weight: 800;
}

.margin-0 {
    margin: 0;
}

@media (max-width: 992px) {
    .footer-content {
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
    }

    .footer-content .footer-content__line {
        display: none;
    }

    .circles__text {
        width: 140px;
    }
}

@media (max-width: 825px) {
    .form {
        grid-template-columns: repeat(2, 1fr);
    }

    .file-box {
        order: -1;
    }

    .circles {
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding: 20px;
        padding-right: 0;
    }

    .circles__circle {
        width: 80px;
        height: 80px;
    }

    .circles__mini-circle {
        display: none;
    }

    .circles__text {
        width: 188px;
        top: 0;
        left: 100px;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .open-menu {
        display: block;
    }
}

@media (max-width: 572px) {
    .form {
        grid-template-columns: 1fr;
    }

    .range-box {
        grid-column-end: 2;
    }

    .form__button {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

@media (max-width: 470px) {
    .intro__text-box h1 {
        margin-top: 30px;
    }

    .intro__text-box h1 {
        font-size: 28px;
    }

    .intro__buttons {
        flex-direction: column;
    }

    .footer-content__money-wrapper {
        flex-direction: column;
        gap: 0;
    }

    .footer-content__link-wrapper {
        flex-direction: column;
        gap: 0;
    }

    .circles__text {
        width: 140px;
        top: -14px;
    }
}
